<%if chat.user_id==current_user.id%>
  <div class="message">
    <div class="upper-message">
      <div class="message-content">
        <%= chat.content %>
      </div>
    <%= image_tag chat.image.variant(resize: '400x400'), class: 'chat-image' if chat.image.attached? %>
    </div>
    <div class="lower-message">
      <div class="message-user">
        <%= chat.user.name %>
      </div>
      <div class="message-date">
        <%= l chat.created_at %>
      </div>
    </div>
  </div>
<%else%>
  <div class="other_message">
    <div class="upper-message">
      <div class="message-content">
        <%= chat.content %>
      </div>
    <%= image_tag chat.image.variant(resize: '400x400'), class: 'chat-image' if chat.image.attached? %>
    </div>
    <div class="lower-message">
      <div class="message-user">
        <%= chat.user.name %>
      </div>
      <div class="message-date">
        <%= l chat.created_at %>
      </div>
    </div>
  </div>
<%end%>


